body{
    background-color: #85144b53;
}
.timer {
    text-align: center;
    font-size: 100px;
    margin-top: 300px;
}

button {
    font-size: 50px;
    margin: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}